nav {
    position: fixed;
    left: 1%;
    top: 20%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    display: block;
    font-size: 15px;
    font-weight: 700;
}

.menu-button {
    padding: 15px 30px;
    font-weight: 500;
    color: #5D70DF;
    cursor: pointer;
    width: max-content;
    transition: 0.25s ease;
    outline: none;
    box-sizing: border-box; 
    border-radius: 15px;
}

.menu-button:hover {
    border-radius: 15px;
}
.menu-button.active {
    background-color: #5D70DF ; /* Active 상태일 때의 배경색 */
    color: #ffffff; /* Active 상태일 때의 글자색 */
}